body{
    font-family: 'Open Sans';
}

/* ::selection{
    background-color: rgb(218, 95, 95);
    color: rgb(174, 67, 85);
} */

.home_input{
    width: 50%;
    height: 5%;
    border-radius: 10px;
    padding-left: 4px;
}